<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>

<body class="container"></body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Page d'accueil</p>
            <p>Vous pouvez retrouver mon portfolio <a href="/portfolio"> ici </a>!</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>