<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../../partials/head %>
</head>

<body class="container"></body>
<header>
    <% include ../../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h4>
            Dans ce processus vous pouvez définir un code secret pour votre compte et un email cible. En envoyant ce code avec
            une requête POST à l'API avec votre code, vous recevrez un email.
        </h4>
    </div>
    <div class="jumbotron">
        <h2>1. Créez votre code secret :</h2>
        <form action="/user/setDevice" method="POST">
            votre code : <input type="text" name="deviceId" placeholder="ex: 1234"><br>
            <button type=submit class="btn">Définir ce code !</button>
        </form>
    </div>

    <div class="jumbotron">
        <h2>2. Enregistrez le mail cible de votre choix :</h2>
        <form action="/user/setFriend" method="POST">
            adresse mail cible: <input type="text" name="friendEmail" placeholder="ex: moi-meme@adresse.com"><br>
            <button type=submit class="btn">Enregistrer cette adresse !</button>
        </form>
    </div>

    <div class="jumbotron">
        <h2>3. Envoyez votre code à l'API pour qu'elle contacte votre email cible :</h2>
        <form action="../device/testalarm" method="post">
            code perso : <input type="text" name="deviceId" placeholder="ex: 1234"><br>
            <button type="submit" name="alarmtest" class="btn">Go !</button>
        </form>
    </div>


</main>

<footer>
    <% include ../../partials/footer %>
</footer>

</body>

</html>