<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../../partials/head %>
</head>

<body class="container"></body>
    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Bienvenue dans votre espace privé</h1>
            <h4>Vous pouvez maintenant tester <a href="/user/alerts">l'application principale</a></h4>
            <h4>Ou bien effacer votre compte <a href="/user/account"> ici </a></h4>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>